.abonnement {
	padding-top: 105px;
	padding-bottom: 111px;
}

.abonnement__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 128px;
}

.abonnement__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 57px;
}

.abonnement__typography {
	display: flex;
	flex-direction: column;
	gap: 48px;
	flex: 1 1;

	// :not(:last-child) {
	// 	margin-bottom: 48px;
	// }
}

.abonnement__description {
}

.abonnement__img-box {
	position: relative;
	flex: 1 1;

	&::before {
		position: absolute;
		content: '';
		opacity: 0.29;
		background-color: #8241ef;
		filter: blur(100px);
		max-width: 412px;
		width: 100%;
		max-height: 369px;
		height: 100%;
		z-index: -1;
	}
}

/* --media-- */

@media (max-width: 581px) {
	.abonnement__info {
		row-gap: 26px;
	}
	.abonnement__row {
		flex-direction: column;
		row-gap: 26px;
	}
	.abonnement__typography {
		gap: 32px;
	}
	.abonnement__img-box {
		&:last-child {
			display: none;
		}
	}
	.abonnement__btn {
		align-self: center;
	}
}
