.benefits {
}
.benefits__container {
}

.benefits__title {
	margin-bottom: 48px;
}
.benefits__list {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	column-gap: 112px;
	row-gap: 61px;
}

.benefits__item-list {
}

.benefits__icon {
	margin-bottom: 16px;
}
.benefits__description {
}

/* media */

.benefits {
	@media (max-width: 375px) {
		padding-top: 42px;
	}
}

.benefits__title {
	@media (max-width: 375px) {
		letter-spacing: -0.64px;
	}
}

.benefits__list {
	@media (max-width: 768px) {
		gap: 61px;
	}
	@media (max-width: 548px) {
		grid-template-columns: 1fr;
	}
}

.benefits__item-list {
	@media (max-width: 375px) {
		display: flex;
		align-items: center;
		column-gap: 16px;
		row-gap: 24px;
	}
}
