.benefits {
}
.benefits__container {
}

.benefits__title {
	margin-bottom: 48px;
}
.benefits__list {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	column-gap: 112px;
	row-gap: 61px;
}

.benefits__item-list {
}

.benefits__icon {
	width: 83px;
}
.benefits__description {
}

/* media */

.benefits__list {
	@media (max-width: 548px) {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 375px) {
	.benefits__title {
		letter-spacing: -0.64px;
		margin-bottom: 32px;
	}
	.benefits__list {
		row-gap: 24px;
	}
	.benefits__item-list {
		display: flex;
		align-items: center;
		column-gap: 16px;
	}
}
