.content {
	max-width: 100%;
	width: 100%;
}

.content__benefits {
	margin-bottom: 128px;
	@media (max-width: 581px) {
		margin-bottom: 72px;
	}
}

.content__info {
}

.content__abonnement {
}

/* media */

// 769 //

@media (max-width: 769px) {
}
