.footer {
	padding-bottom: 128px;
	color: #c5c5c5;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2; /* 15.6px */
}

.footer__description {
}

.footer__link {
	color: #c5c5c5;
	text-decoration-line: underline;
	transition: all 0.4s;

	&:hover,
	&:focus {
		color: $text;
	}
}
