.footer {
	padding-bottom: 128px;
	color: #c5c5c5;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2; /* 15.6px */
}

.footer__description {
}

.footer__link {
	text-decoration-line: underline;
}
