.info__body {
	display: flex;
	flex-direction: column;
}

.info__title {
	margin-bottom: 48px;
}

.info__description {
	max-width: 442px;
	margin-bottom: 69px;
}

.info__gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info__item-gallery {
	&:nth-child(2),
	&:nth-child(4) {
		transform: translateY(-69px);
	}
}
