body {
	font-family: 'YS Text', sans-serif;
	font-weight: 500;
	font-size: $main;
}

a {
	color: $text;
	cursor: pointer;
}

/* wrapper */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

/* container */
.container {
	width: 100%;
	max-width: 946px;
	padding: 0 15px;
	margin: 0 auto;
}

/* none */
.none {
	display: none;
}

.btn {
	display: inline-block;
	max-width: 318px;
	width: 100%;
	min-height: 49px;
	padding: 24px 48px;

	border-radius: 36px;
	background: $yellow;
	box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);

	text-align: center;
	color: $text;
	font-size: calc(18px + 4 * (100vw - 376px) / 1120);
	font-weight: 500;
	line-height: 0.91;

	transition: filter 0.4s, visibility 0.4s, transform 0.4s, filter 0.4s,
		box-shadow 0.4s;

	&:hover,
	&:focus {
		transform: scale(1.2);
		filter: saturate(150%) contrast(110%);
		box-shadow: 0px 4px 98px 0px rgb(255, 223, 64);
	}
	&:active {
		background-color: rgb(255, 172, 64);
		transform: scale(0.5);
	}

	&.none {
		visibility: hidden;
		filter: opacity(0); // for better performance
	}

	@media (max-width: 581px) {
		padding: 18px 0px;
		line-height: 1.22;
	}
	@media (min-width: 1440px) {
		font-size: 24px;
	}
}
