body {
	font-family: 'YS Text', sans-serif;
	font-weight: 500;
	font-size: $main;
}

a {
	// color: $grayscale-00;
	// font-size: $B1_Medium_16;
	font-weight: 500;
	cursor: pointer;

	&:active,
	:focus {
		// color: $grayscale-07;
	}
}

/* wrapper */
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

/* container */
.container {
	width: 100%;
	max-width: 946px;
	padding: 0 15px;
	margin: 0 auto;
}

/* none */
.none {
	display: none;
}

.btn {
	width: 100%;
	max-width: 318px;
	height: 65px;
	padding: 24px 48px;
	text-align: center;
	color: $text;
	font-size: $main;
	font-weight: 500;
	line-height: 0.91; /* 91.667% */
	border-radius: 36px;
	background: $yellow;
	box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
}
