@font-face {
	font-family: 'YS Text';
	src: local('YS Text Black'),
		url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff');
	font-weight: 900;
}

@font-face {
	font-family: 'YS Text';
	src: local('YS Text Medium'),
		url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff');
	font-weight: 500;
}

@font-face {
	font-family: 'YS Text';
	src: local('YS Text Regular'),
		url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff');
	font-weight: 400;
}
