$text: #21201f;
$yellow: #ffde40;
$main: 24px;
$linear: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.2) 100%
	),
	linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%);
$linear-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

$mobile: 376px;
